
// top-service
@use "../global" as g;

.service {

    padding-top: 70px;
    margin-top: -70px;

    &__container {
        @include g.container("default");
    }

    &__list {
        margin: 3rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    &__list > :nth-child(even){
        background-color: g.$color_green_light;
    }
    @include g.responsive("tablet"){
        &__list > :nth-child(3){
            background-color: g.$color_green_light;
        }
        &__list > :nth-child(4){
            background-color: g.$color_gray;
        }
    }
    @include g.responsive("sp"){
        &__list > :nth-child(3){
            background-color: g.$color_gray;
        }
        &__list > :nth-child(4){
            background-color: g.$color_green_light;
        }
    }

    &__list-item {
        background-color: g.$color_gray;
        margin-bottom: 1rem;
        width: 24%;
        max-width: 400px;
        @include g.responsive("tablet"){
            width: 49%;
        }
        @include g.responsive("sp"){
            width: 95%;
        }

        &.active:nth-of-type(1){
            transition-delay: 0;
        }
        &.active:nth-of-type(2){
            transition-delay: 0.2s;
        }
        &.active:nth-of-type(3){
            transition-delay: 0.4s;
        }
        &.active:nth-of-type(4){
            transition-delay: 0.6s;
        }

        &.active:nth-of-type(n) {
            @include g.responsive("sp"){
                transition-delay: 0;
            }
        }
    }

    
}