
// footer

@use "../global" as g;

.footer {

    margin: 0;
    padding: 0;

    &__container {
        @include g.container("footer");
        background-color: g.$color_green_light;
        text-align: center;
        line-height: 6rem;
        font-size: g.$font_size_s;
    }
}
