
// nav-drawer
@use "../global" as g;

.nav-drawer {
    display: none;

    @include g.responsive("tablet"){
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        z-index: g.$z_index_nav_drawer;
    }

    &__container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -400px;
        height: 100%;
        width: 70%;
        max-width: 400px;
        min-width: 350px;
        overflow: hidden;
        background-color: rgba(g.$color_white, 0.95);
        @include g.shadow("nav-drawer");
        transition: all 0.6s;

        &.open {
            right: 0;
        }
    }

    &__menu {
        overflow-y: auto;
    }

    &__menu-item {
        border-bottom: 1px solid g.$color_gray;
    }

    &__link {
        display: block;
        padding-top: 50px;
    }

    &__link-text-en {
        padding-left: 15px;
    }

    &__link-text-ja {
        font-size: g.$font_size_s;
        margin-left: 5px;
    }

    &__menu-button {
        display: flex;
    }

    &__button-close {
        position: relative;
        margin-left: auto;
        background-color: g.$color_green;
        width: g.$header_height;
        height: g.$header_height;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: darken(g.$color_green, 10%);
        }
    }

    &__button-close-line{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 4px;
        margin: auto;
        background: g.$color-white;
        &:nth-child(1){
            transform: translateY(0) rotate(45deg);
        }
        &:nth-child(2){
            transform: translateY(0) rotate(-45deg);
        }
    }

    &__overlay {
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }


}
