
// container
@use "../setting" as s;
@use "responsive" as r;

@mixin container($type: "default") {
    
    @if $type == "default" {
        margin: 0 auto;
        padding: 6rem 0 6rem 0;
        width: 90%;
        max-width: s.$content_width_pc;
        @include r.responsive("tablet"){
            width: 95%;
            max-width: s.$content_width_tablet;
        }
        @include r.responsive("sp"){
            max-width: s.$content_width_sp;
        }

    } @else if $type == "mainview" {
        display: flex;
        height: 95vh;
        min-height: 800px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        max-width: s.$content_width_pc;
        @include r.responsive("tablet"){
            max-width: s.$content_width_tablet;
        }
        @include r.responsive("sp"){
            max-width: s.$content_width_sp;
            height: 1050px;
        }

    } @else if $type == "nav-header" {
        margin: 0 auto;
        width: 90%;
        max-width: s.$content_width_pc;
        @include r.responsive("tablet"){
            width: 95%;
            max-width: s.$content_width_tablet;
        }
        @include r.responsive("sp"){
            max-width: s.$content_width_sp;
        }
        
    } @else if $type == "footer" {
        margin: 0 auto;
        height: 5rem;
        max-width: s.$content_width_pc;
        @include r.responsive("tablet"){
            max-width: s.$content_width_tablet;
        }
        @include r.responsive("sp"){
            max-width: s.$content_width_sp;
        }
        
    } @else if $type == "page-contact" {
        margin: 10rem auto 0;
        max-width: s.$content_width_pc;
        @include r.responsive("tablet"){
            max-width: s.$content_width_tablet;
        }
        @include r.responsive("sp"){
            max-width: s.$content_width_sp;
        }
        
    }
}