
// kayframes

@mixin keyframes($name: "animation-name") {
    @if $name == "slideInUp" {
        @-webkit-keyframes #{$name} {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
            @content; 
        }
        @keyframes #{$name} {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
            @content;
        } 
    }
    @else if $name == "slideInLeft" {
        @-webkit-keyframes #{$name} {
            from {
                opacity: 0;
                transform: translateX(-150px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
            @content; 
        }
        @keyframes #{$name} {
            from {
                opacity: 0;
                transform: translateX(-150px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
            @content;
        } 
    }
    @else {
        @-webkit-keyframes #{$name} {
            @content; 
        }
        @keyframes #{$name} {
            @content;
        } 
    }
}